#books{
    text-align: left;
}
/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
} 

/* Navigation Bar */
 .navbar {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
} 

 .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

/* Section styles */
 .section {
    padding: 3rem 0;
}

/* Table styles */
 table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: white;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #ccc;
} */

/* Form styles */
 form {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .registration-form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .registration-form h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group input[type="number"] {
    width: 50px;
  }

  .form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #0056b3;
  }
